openapi: 3.0.0
info:
  contact:
    email: support@collaborativedrug.com
    name: BioAssay Express
    url: https://www.bioassayexpress.com
    x-id: https://www.collaborativedrug.com/
    x-role: responsible organization
  termsOfService: https://www.bioassayexpress.com/docs/license.jsp
  title: CDD BioAssay Express
  version: 1.0.3
servers:
- description: BioExpress server
  url: https://www.bioassayexpress.com/REST/
  x-location: Burlingame, California, USA
  x-maturity: production
paths:
  /GetAssay:
    get:
      description: Return BioAssay information with full annotation
      externalDocs:
        url: https://www.bioassayexpress.com/docs/
        x-description: The BioAssay Express is a web-based tool for annotating bioassay
          protocols using semantic web terms.
        x-type: publication
      operationId: getBAEassay
      parameters:
      - description: 'Assay Identifier. Example: 101'
        in: query
        name: assayID
        required: true
        schema:
          example: 101
          type: number
        x-parameterValueType:
          x-parameterType: bae.id
          x-valueType: http://identifiers.org/bioassay.bae
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assay'
          description: Assay model instance
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unable to find assayID
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get BioAssay information
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: GetAssay
  /GetPropertyList:
    post:
      description: Returns list of terms for specified ontology
      operationId: getBAEpropertyList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyQuery'
        description: A JSON object containing assay keywords
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyList'
          description: Term model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get ontology properties list
      tags:
      - Terms
      x-accessRestriction: limited
      x-controller-name: Terms
      x-operation-name: GetPropertyList
  /GetPropertyTree:
    post:
      description: Returns list of terms with tree for specified ontology
      operationId: getBAEpropertyTree
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyQuery'
        description: A JSON object containing assay keywords
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyTree'
          description: Term model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get ontology properties tree
      tags:
      - Terms
      x-accessRestriction: limited
      x-controller-name: Terms
      x-operation-name: GetPropertyTree
  /KeywordMatch:
    post:
      description: Return assay terms matched by keywords
      operationId: getBAEassaysByKeyword
      requestBody:
        content:
          application/json:
            schema:
              example:
                annotations: []
                keywords: enzyme
                schemaURI: http://www.bioassayontology.org/bas#
                select: null
              properties:
                annotations:
                  items:
                    type: string
                  type: array
                keywords:
                  type: string
                schemaURI:
                  type: string
                select:
                  type: string
              required:
              - keywords
              - annotations
        description: A JSON object containing assay keywords
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terms'
          description: Term model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get assay terms matched by keywords
      tags:
      - Terms
      x-accessRestriction: limited
      x-controller-name: Terms
      x-operation-name: KeywordMatch
  /ListCuratedAssays:
    get:
      description: Return the list of currated assays in BioAssay Express
      externalDocs:
        url: https://www.bioassayexpress.com/docs/
        x-description: The BioAssay Express is a web-based tool for annotating bioassay
          protocols using semantic web terms.
        x-type: publication
      operationId: getBAEcurratedAssaysList
      parameters:
      - description: Sort order
        in: query
        name: anomaly
        schema:
          enum:
          - blank
          - outschema
          type: string
      - description: Sort order
        in: query
        name: order
        schema:
          enum:
          - ascending
          - descending
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssaysList'
          description: Assay model instance
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get List of curated BioAssays
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: ListCuratedAssays
  /DescribeSchema:
    post:
      description: Return the Schema information
      operationId: describeBAEschema
      requestBody:
        content:
          application/json:
            schema:
              example:
                locator: "12"
              properties:
                locator:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaValues'
          description: Schema model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get schema information
      tags:
      - Schemas
      x-accessRestriction: limited
      x-controller-name: Schemas
      x-operation-name: DescribeSchema
components:
  schemas:
    Annotation:
      properties:
        groupLabel:
          items:
            type: string
          type: array
        groupNest:
          items:
            type: string
          type: array
        labelHier:
          items:
            type: string
          type: array
        outOfSchema:
          type: boolean
        propAbbrev:
          type: string
        propLabel:
          type: string
        propURI:
          type: string
        valueAbbrev:
          type: string
        valueDescr:
          type: string
        valueHier:
          items:
            type: string
          type: array
        valueLabel:
          type: string
        valueURI:
          type: string
      title: Annotation
    Assay:
      properties:
        annotations:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        assayID:
          type: number
          x-responseValueType:
            x-path: ncbigene.id
            x-valueType: http://identifiers.org/ncbigene
        curationTime:
          type: number
        curatorID:
          type: string
        history:
          items:
            $ref: '#/components/schemas/Event'
          type: array
        holdingIDList:
          items:
            type: string
          type: array
        notes:
          type: string
        pubchemXRef:
          items:
            $ref: '#/components/schemas/pubchemXRef'
          type: array
        schemaURI:
          type: string
        text:
          type: string
        uniqueID:
          type: string
      required:
      - assayID
      title: Assay
    AssaysList:
      properties:
        assayIDList:
          items:
            type: number
          type: array
        curationTime:
          items:
            type: number
          type: array
        uniqueIDList:
          items:
            type: string
          type: array
      title: AssaysList
    Error:
      properties:
        developerMessage:
          type: string
        status:
          format: int32
          type: integer
        userMessage:
          type: string
      required:
      - status
      - userMessage
    Event:
      properties:
        annotsAdded:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        annotsRemoved:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        curationTime:
          type: number
        curatorID:
          type: string
        labelsAdded:
          items:
            $ref: '#/components/schemas/Label'
          type: array
        labelsRemoved:
          items:
            $ref: '#/components/schemas/Label'
          type: array
        notesModified:
          type: object
      title: Event
    Label:
      properties:
        propAbbrev:
          type: string
        propLabel:
          type: string
        propURI:
          type: string
        valueLabel:
          type: string
      title: Label
    Property:
      properties:
        abbrev:
          type: string
        inModel:
          type: boolean
        inSchema:
          type: boolean
        name:
          type: string
        uri:
          type: string
      title: Property
    PropertyList:
      properties:
        list:
          items:
            $ref: '#/components/schemas/Property'
          type: array
      title: PropertyList
    PropertyQuery:
      example:
        groupNest: []
        propURI: http://www.bioassayontology.org/bao#BAO_0002854
        schemaBranches: null
        schemaURI: http://www.bioassayontology.org/bas#
      properties:
        groupNest:
          items:
            type: string
          type: array
        propURI:
          type: string
        schemaBranches:
          type: string
        schemaURI:
          type: string
      required:
      - propURI
    PropertyTree:
      properties:
        tree:
          type: object
          properties:
            depth:
              items:
                type: number
              type: array
            parent:
              items:
                type: number
              type: array
            name:
              items:
                type: string
              type: array
      title: PropertyTree
    Schema:
      example:
        name: '100 percent growth inhibition'
        uri: 'http://www.bioassayontology.org/bao#BAO_0001108'
        abbrev: bao:BAO_0001108'
        descr: ''
        inSchema: true
        isExplicit: false
        hasModel: false
      properties:
        name:
          type: string
        uri:
          type: string
        abbrev:
          type: string
        descr:
          type: string
        inSchema:
          type: boolean
        isExplicit:
          type: boolean
        hasModel:
          type: boolean
      title: Schema
    SchemaValues:
      properties:
        values:
          items:
            $ref: '#/components/schemas/Schema'
          type: array
      title: SchemaValues
    Term:
      properties:
        groupLabel:
          items:
            type: string
          type: array
        groupNest:
          items:
            type: string
          type: array
        propLabel:
          type: string
        propURI:
          type: string
        valueLabel:
          type: string
        valueURI:
          type: string
      title: Term
    Terms:
      properties:
        terms:
          items:
            $ref: '#/components/schemas/Term'
          type: array
      title: Terms
    pubchemXRef:
      properties:
        comment:
          type: string
        id:
          type: string
        type:
          type: string
      title: pubchemXRef
