openapi: 3.0.0
info:
  contact:
    email: support@collaborativedrug.com
    name: BioAssay Express
    url: https://fair.bioassayexpress.com
    x-id: https://www.collaborativedrug.com/
    x-role: responsible organization
  termsOfService: https://fair.bioassayexpress.com/docs/license.jsp
  title: CDD BioAssay Express
  version: 1.0.13
servers:
- description: BioExpress server
  url: https://fair.bioassayexpress.com/REST/
  x-location: Burlingame, California, USA
  x-maturity: production
tags:
  - name: Assays
    description: Query and retrieve assays currated in BEA
    externalDocs:
      url: https://fair.bioassayexpress.com/docs/
  - name: Schemas
    description: Browse schemas defined in BEA
  - name: Terms
    description: Browse ontology ralated terms
  - name: Compounds
    description: Retrieve information on compounds related to assays
paths:
  /DescribeSchema:
    post:
      description: Return the Schema information
      operationId: describeBAEschema
      requestBody:
        content:
          application/json:
            schema:
              example: {}
              properties:
                locator:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaValues'
          description: Schema model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get schema information
      tags:
      - Schemas
      x-accessRestriction: limited
      x-controller-name: Schemas
      x-operation-name: DescribeSchema
  /GetAssay:
    get:
      description: Return BioAssay information with full annotation
      externalDocs:
        url: https://www.bioassayexpress.com/docs/
        x-description: The BioAssay Express is a web-based tool for annotating bioassay
          protocols using semantic web terms.
        x-type: publication
      operationId: getBAEassay
      parameters:
      - description: Assay Identifier
        in: query
        name: assayID
        schema:
          example: 37
          type: number
        x-parameterValueType:
          x-parameterType: bae.id
      - description: Assay uniqueID
        in: query
        name: uniqueID
        schema:
          example: pubmedCentral:4741300
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assay'
          description: Assay model instance
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unable to find assayID
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get BioAssay information
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: GetAssay
  /GetPropertyList:
    post:
      description: Returns list of terms for specified ontology
      operationId: getBAEpropertyList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyQuery'
        description: A JSON object containing assay keywords
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyList'
          description: Term model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get ontology properties list
      tags:
      - Terms
      x-accessRestriction: limited
      x-controller-name: Terms
      x-operation-name: GetPropertyList
  /GetPropertyTree:
    post:
      description: Returns list of terms with tree for specified ontology
      operationId: getBAEpropertyTree
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyQuery'
        description: A JSON object containing assay keywords
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyTree'
          description: Term model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get ontology properties tree
      tags:
      - Terms
      x-accessRestriction: limited
      x-controller-name: Terms
      x-operation-name: GetPropertyTree
  /KeywordMatch:
    post:
      description: Return assay terms matched by keywords
      operationId: getBAEassaysByKeyword
      requestBody:
        content:
          application/json:
            schema:
              example:
                annotations: []
                keywords: enzyme
                select: null
              properties:
                annotations:
                  items:
                    type: string
                  type: array
                keywords:
                  type: string
                schemaURI:
                  type: string
                select:
                  type: string
              required:
              - keywords
              - annotations
        description: A JSON object containing assay keywords
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terms'
          description: Term model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get assay terms matched by keywords
      tags:
      - Terms
      x-accessRestriction: limited
      x-controller-name: Terms
      x-operation-name: KeywordMatch
  /ListCompounds:
    post:
      description: Returns list of compound IDs belonging to assays
      operationId: postBEAlistCompounds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssayIDList'
        description: A JSON object containing list of assay IDs
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundList'
          description: Term model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get ontology properties list
      tags:
      - Compounds
      x-accessRestriction: limited
      x-controller-name: Compounds
      x-operation-name: ListCompounds
  /ListCuratedAssays:
    get:
      description: Return a list of currated assays in BioAssay Express
      externalDocs:
        url: https://www.bioassayexpress.com/docs/
        x-description: The BioAssay Express is a web-based tool for annotating bioassay
          protocols using semantic web terms.
        x-type: publication
      operationId: getBAEcurratedAssaysList
      parameters:
      - description: Sort order
        in: query
        name: anomaly
        schema:
          enum:
          - blank
          - outschema
          type: string
      - description: Sort order
        in: query
        name: order
        schema:
          enum:
          - ascending
          - descending
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssaysList'
          description: Assay model instance
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get a list of curated BioAssays
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: ListCuratedAssays
  /ListQueryAssays:
    post:
      description: Returns list of assays that match the query
      operationId: postBEAlistQueryAssays
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssayQuery'
        description: A JSON object containing list of assay IDs
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayIDList'
          description: Assay IDs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get list of matching assay
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: ListQueryAssays
  /Search:
    get:
      description: Return BEA currated assays
      operationId: getBAEsearch
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayIDList'
          description: Assay model ID list
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get BEA BioAssay list
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: SearchGet
    post:
      description: Return Assays based on search criteria
      operationId: postBAEsearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchQuery'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
          description: Found assay model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get matching assays information
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: SearchPost
  /SelectionTree:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaURI'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SelectionTree'
                type: array
          description: Term model instances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get selection tree
      tags:
      - Terms
  /SummariseAnnotations:
    get:
      description: Return BEA currated assays
      operationId: getBAESummariseAnnotations
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssaySummary'
          description: Summarized Assay Annotations
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get summary of assay annotations
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: SummariseAnnotations
components:
  schemas:
    Any:
      {}
    Annotation:
      properties:
        groupLabel:
          items:
            type: string
          type: array
        groupNest:
          items:
            type: string
          type: array
        labelHier:
          items:
            type: string
          type: array
        outOfSchema:
          type: boolean
        propAbbrev:
          type: string
        propLabel:
          type: string
        propURI:
          type: string
        valueAbbrev:
          type: string
        valueDescr:
          type: string
        valueHier:
          items:
            type: string
          type: array
        valueLabel:
          type: string
        valueURI:
          type: string
      title: Annotation
    Assay:
      properties:
        annotations:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        assayID:
          type: number
        curationTime:
          type: number
        curatorID:
          type: string
        history:
          items:
            $ref: '#/components/schemas/Event'
          type: array
        holdingIDList:
          items:
            type: string
          type: array
        notes:
          type: string
        pubchemXRef:
          items:
            $ref: '#/components/schemas/pubchemXRef'
          type: array
        schemaURI:
          type: string
        text:
          type: string
        uniqueID:
          type: string
      required:
      - assayID
      title: Assay
    AssayIDList:
      example:
        assayIDList:
        - 1
        - 2
        - 3
        - 4
      properties:
        assayIDlist:
          items:
            type: number
          type: array
      title: AssayIDList
    AssayQuery:
      example:
        query: (propURI=bao:BAO_0002921)
      properties:
        query:
          type: string
    AssayReference:
      example:
        assayID: 1
        field: EC50
        operator: <
        threshold: 5
      properties:
        assayID:
          type: number
        field:
          type: string
        operator:
          type: string
        threshold:
          type: number
      title: AssayReference
    AssaysList:
      properties:
        assayIDList:
          items:
            type: number
          type: array
        curationTime:
          items:
            type: number
          type: array
        uniqueIDList:
          items:
            type: string
          type: array
      title: AssaysList
    AssaySummary:
      example:
        propCounts:
          ["http://www.bioassayexpress.org/bae#FAIR_0000059": [1,1],"http://www.bioassayexpress.org/bae#FAIR_0000058": [1,1],"http://www.bioassayexpress.org/bae#FAIR_0000109": { "http://www.bioassayexpress.com/bao_provisional#FAIR_0000101": [1,1]}]
      properties:
        propCounts:
          $ref: '#/components/schemas/Any'
    Column:
      example:
        assayID: 1
        name: Active/Inactive
        type: activity
        units: binary
      properties:
        assayID:
          type: number
        name:
          type: string
        type:
          type: string
        units:
          type: string
      title: Column
    CompoundList:
      example:
        assays:
        - assayID: 1
          field: EC50
          operator: <
          threshold: 5
        columns:
        - assayID: 1
          name: Active/Inactive
          type: activity
          units: binary
        compoundIDList:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        hashECFP6List:
        - 1854422136
        - 1863941460
        - 638742098
        - 454877582
        - -25563370
        - -2002476729
        measureCompound:
        - 62582
        - 172500
        - 154584
        - 30669
        - 54928
        - 126160
        measureIndex:
        - 0
        - 0
        - 0
        - 0
        - 0
        - 0
        measureRelation:
        - '='
        - '='
        - '='
        - '='
        - '='
        - '='
        measureValue:
        - 1
        - 1
        - 0
        - 1
        - 0
        - 0
      properties:
        assays:
          items:
            $ref: '#/components/schemas/AssayReference'
          type: array
        columns:
          items:
            $ref: '#/components/schemas/Column'
          type: array
        compoundIDList:
          items:
            type: number
          type: array
        hashECFP6List:
          items:
            type: number
          type: array
        measureCompound:
          items:
            type: number
          type: array
        measureIndex:
          items:
            type: number
          type: array
        measureRelation:
          items:
            type: string
          type: array
        measureValue:
          items:
            type: number
          type: array
      title: CompoundList
    Error:
      properties:
        developerMessage:
          type: string
        status:
          format: int32
          type: integer
        userMessage:
          type: string
      required:
      - status
      - userMessage
    Event:
      properties:
        annotsAdded:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        annotsRemoved:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        curationTime:
          type: number
        curatorID:
          type: string
        labelsAdded:
          items:
            $ref: '#/components/schemas/Label'
          type: array
        labelsRemoved:
          items:
            $ref: '#/components/schemas/Label'
          type: array
        notesModified:
          type: object
      title: Event
    Label:
      properties:
        propAbbrev:
          type: string
        propLabel:
          type: string
        propURI:
          type: string
        valueLabel:
          type: string
      title: Label
    PrefixMap:
      example:
        'az:': http://rdf.astrazeneca.com/bae#
        'bae:': http://www.bioassayexpress.org/bae#
        'bao:': http://www.bioassayontology.org/bao#
        'bas:': http://www.bioassayontology.org/bas#
        'bat:': http://www.bioassayontology.org/bat#
        'dto:': http://www.drugtargetontology.org/dto/
        'geneid:': http://www.bioassayontology.org/geneid#
        'obo:': http://purl.obolibrary.org/obo/
        'owl:': http://www.w3.org/2002/07/owl#
        'protein:': http://www.bioassayontology.org/protein#
        'prov:': http://www.w3.org/ns/prov#
        'rdf:': http://www.w3.org/1999/02/22-rdf-syntax-ns#
        'rdfs:': http://www.w3.org/2000/01/rdf-schema#
        'src:': http://www.bioassayexpress.org/sources#
        'taxon:': http://www.bioassayontology.org/taxon#
        'uo:': http://purl.org/obo/owl/UO#
        'xsd:': http://www.w3.org/2001/XMLSchema#
      properties:
        'az:':
          type: string
        'bae:':
          type: string
        'bao:':
          type: string
        'bas:':
          type: string
        'bat:':
          type: string
        'dto:':
          type: string
        'geneid:':
          type: string
        'obo:':
          type: string
        'owl:':
          type: string
        'protein:':
          type: string
        'prov:':
          type: string
        'rdf:':
          type: string
        'rdfs:':
          type: string
        'src:':
          type: string
        'taxon:':
          type: string
        'uo:':
          type: string
        'xsd:':
          type: string
    Property:
      properties:
        abbrev:
          type: string
        inModel:
          type: boolean
        inSchema:
          type: boolean
        name:
          type: string
        uri:
          type: string
      title: Property
    PropertyList:
      properties:
        list:
          items:
            $ref: '#/components/schemas/Property'
          type: array
      title: PropertyList
    PropertyQuery:
      example:
        groupNest: []
        propURI: http://www.bioassayontology.org/bao#BAO_0002921
        schemaBranches: null
      properties:
        groupNest:
          items:
            type: string
          type: array
        propURI:
          type: string
        schemaBranches:
          type: string
        schemaURI:
          type: string
      required:
      - propURI
    PropertyTree:
      properties:
        tree:
          properties:
            abbrev:
              items:
                type: string
              type: array
            altLabels:
              items:
                type: string
              type: array
            childCount:
              items:
                type: number
              type: array
            containers:
              items:
                type: number
              type: array
            depth:
              items:
                type: number
              type: array
            externalURLs:
              items:
                type: string
              type: array
            inModel:
              items:
                type: boolean
              type: array
            inSchema:
              items:
                type: boolean
              type: array
            name:
              items:
                type: string
              type: array
            parent:
              items:
                type: number
              type: array
            prefixMap:
              $ref: '#/components/schemas/PrefixMap'
            schemaCount:
              items:
                type: number
              type: array
          type: object
      title: PropertyTree
    PropertyURI:
      properties:
        groupNest:
          items:
            type: string
          type: array
        keywordSelector:
          type: string
        propURI:
          type: string
        valueURIList:
          items:
            type: string
          type: array
      title: PropertyURI
    SearchQuery:
      example:
        assayIDList: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 20, 21, 22, 23, 24, 25, 26, 27, 28]
        countCompounds: true
        search: [{groupLabel: ["result definitions"],groupNest: ["http://www.bioassayexpress.org/bae#FAIR_0000048"],propDescr: "Qualitative data description",propURI: "http://www.bioassayexpress.org/bae#FAIR_0000079", propLabel: "qualitative data",valueLabel: "unknown",valueURI: "http://www.bioassayontology.org/bat#Unknown"}]
        threshold: 0
        translitPreviews: true
      properties:
        assayIDList:
          $ref: '#/components/schemas/AssayIDList'
        countCompounds:
          type: boolean
        search:
          items:
            $ref: '#/components/schemas/SearchItem'
        threshold:
          type: number
        translitPreviews:
          type: boolean
      required:
      - propURI
    SearchItem:
      properties:
        altLabels:
          items:
            type: string
          type: array
        groupLabel:
          items:
            type: string
          type: array
        groupNest:
          items:
            type: string
          type: array
        propDescr:
          type: string
        propLabel:
          type: string
        propURI:
          type: string
        valueLabel:
          type: string
        valueURI:
          type: string
    SearchResults:
      properties:
        results:
          items:
            $ref: '#/components/schemas/Assay'
          type: array
    Schema:
      example:
        abbrev: bao:BAO_0001108'
        descr: ''
        hasModel: false
        inSchema: true
        isExplicit: false
        name: 100 percent growth inhibition
        uri: http://www.bioassayontology.org/bao#BAO_0001108
      properties:
        abbrev:
          type: string
        descr:
          type: string
        hasModel:
          type: boolean
        inSchema:
          type: boolean
        isExplicit:
          type: boolean
        name:
          type: string
        uri:
          type: string
      title: Schema
    SchemaURI:
      example:
        schemaURI: http://www.bioassayontology.org/bao#BAO_0001108
        select:
        - keywordSelector: enzyme
          propURI: KEYWORD
      properties:
        schemaURI:
          type: string
        select:
          items:
            $ref: '#/components/schemas/PropertyURI'
          type: array
      title: SchemaURI
    SchemaValues:
      properties:
        values:
          items:
            $ref: '#/components/schemas/Schema'
          type: array
      title: SchemaValues
    SelectionTree:
      properties:
        literalList:
          items:
            type: string
          type: array
        matchesAssayID:
          items:
            type: number
          type: array
        matchesUniqueID:
          items:
            type: number
          type: array
        treeList:
          items:
            type: number
          type: array
      title: SelectionTree
    Term:
      properties:
        groupLabel:
          items:
            type: string
          type: array
        groupNest:
          items:
            type: string
          type: array
        propLabel:
          type: string
        propURI:
          type: string
        valueLabel:
          type: string
        valueURI:
          type: string
      title: Term
    Terms:
      properties:
        terms:
          items:
            $ref: '#/components/schemas/Term'
          type: array
      title: Terms
    pubchemXRef:
      properties:
        comment:
          type: string
        id:
          type: string
        type:
          type: string
      title: pubchemXRef
