openapi: 3.0.0
info:
  contact:
    email: support@collaborativedrug.com
    name: BioAssay Express
    url: https://www.bioassayexpress.com
    x-id: https://www.collaborativedrug.com/
    x-role: responsible organization
  termsOfService: https://www.bioassayexpress.com/docs/license.jsp
  title: CDD BioAssay Express
  version: 1.0.1
servers:
- description: BioExpress server
  url: https://www.bioassayexpress.com/REST/
  x-location: Burlingame, California, USA
  x-maturity: production
paths:
  /GetAssay:
    get:
      description: Return BioAssay information with full annotation
      externalDocs:
        url: https://www.bioassayexpress.com/docs/
        x-description: The BioAssay Express is a web-based tool for annotating bioassay
          protocols using semantic web terms.
        x-type: publication
      operationId: getBAEassay
      parameters:
      - description: 'Assay Identifier. Example: 101'
        in: query
        name: assayID
        required: true
        schema:
          example: 101
          type: number
        x-parameterValueType:
          x-parameterType: bae.id
          x-valueType: http://identifiers.org/bioassay.bae
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assay'
          description: Assay model instance
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unable to find assayID
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get BioAssay information
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: GetAssay
  /ListCuratedAssays:
    get:
      description: Return the list of currated assays in BioAssay Express
      externalDocs:
        url: https://www.bioassayexpress.com/docs/
        x-description: The BioAssay Express is a web-based tool for annotating bioassay
          protocols using semantic web terms.
        x-type: publication
      operationId: getBAEcurratedAssaysList
      parameters:
        - in: query
          name: anomaly
          description: Sort order
          schema:
            type: string
            enum: [blank, outschema]
        - in: query
          name: order
          description: Sort order
          schema:
            type: string
            enum: [ascending, descending]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssaysList'
          description: Assay model instance
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get List of curated BioAssays
      tags:
      - Assays
      x-accessRestriction: limited
      x-controller-name: Assays
      x-operation-name: ListCuratedAssays
  /KeywordMatch:
    post:
      description: Return BioAssay matched by keywords
      operationId: getBAEassaysByKeyword
      requestBody:
        description: A JSON object containing assay keywords
        content:
          application/json:
            schema:
              properties:
                keywords:
                  type: string
                schemaURI:
                  type: string
                annotations:
                  items:
                    type: string
                  type: array
                select:
                  type: string
              required:
              - keywords
              - annotations
              example:
                keywords: enzyme
                schemaURI: http://www.bioassayontology.org/bas#
                annotations: []
                select: null
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terms'
          description: Assay model instance
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Get BioAssays matching by keyword
      tags:
      - Terms
      x-accessRestriction: limited
      x-controller-name: Terms
      x-operation-name: KeywordMatch
components:
  schemas:
    Annotation:
      properties:
        groupLabel:
          items:
            type: string
          type: array
        groupNest:
          items:
            type: string
          type: array
        labelHier:
          items:
            type: string
          type: array
        outOfSchema:
          type: boolean
        propAbbrev:
          type: string
        propLabel:
          type: string
        propURI:
          type: string
        valueAbbrev:
          type: string
        valueDescr:
          type: string
        valueHier:
          items:
            type: string
          type: array
        valueLabel:
          type: string
        valueURI:
          type: string
      title: Annotation
    Assay:
      properties:
        annotations:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        assayID:
          type: number
          x-responseValueType:
            x-path: ncbigene.id
            x-valueType: http://identifiers.org/ncbigene
        curationTime:
          type: number
        curatorID:
          type: string
        history:
          items:
            $ref: '#/components/schemas/Event'
          type: array
        holdingIDList:
          items:
            type: string
          type: array
        notes:
          type: string
        pubchemXRef:
          items:
            $ref: '#/components/schemas/pubchemXRef'
          type: array
        schemaURI:
          type: string
        text:
          type: string
        uniqueID:
          type: string
      required:
      - assayID
      title: Assay
    AssaysList:
      properties:
        assayIDList:
          items:
            type: number
          type: array
        uniqueIDList:
          items:
            type: string
          type: array
        curationTime:
          items:
            type: number
          type: array
      title: AssaysList
    Terms:
      properties:
        terms:
          items:
            $ref: '#/components/schemas/Term'
          type: array
      title: Terms
    Term:
      properties:
        propURI:
          type: string
        propLabel:
          type: string
        valueURI:
          type: string
        valueLabel:
          type: string
        groupNest:
          items:
            type: string
          type: array
        groupLabel:
          items:
            type: string
          type: array
      title: Term
    Error:
      properties:
        developerMessage:
          type: string
        status:
          format: int32
          type: integer
        userMessage:
          type: string
      required:
      - status
      - userMessage
    Event:
      properties:
        annotsAdded:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        annotsRemoved:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
        curationTime:
          type: number
        curatorID:
          type: string
        labelsAdded:
          items:
            $ref: '#/components/schemas/Label'
          type: array
        labelsRemoved:
          items:
            $ref: '#/components/schemas/Label'
          type: array
        notesModified:
          type: object
      title: History event
    Label:
      properties:
        propAbbrev:
          type: string
        propLabel:
          type: string
        propURI:
          type: string
        valueLabel:
          type: string
      title: Label
    pubchemXRef:
      properties:
        comment:
          type: string
        id:
          type: string
        type:
          type: string
      title: pubchemXRef
